
.container {
    margin: 0;
    padding: 0;
    width: 300px;
}


.asteroid {
    background-color: yellow;
}


#b325 {
    border: 1px solid green;
}

.b326 {
    border: 1px solid green;
}

#b325, .b326, .b329 {
    font-weight: bold;
   background-color:white;
}

.big {
    color: blue;
    margin-top: 20px;
    width: 300px;
}

